/* global variable */
:root {
   

    --primary-10:#f1f9fa;
    --primary-9: #dceef1;
    --primary-8: #bddee4;
    --primary-7: #90c6d0;
    --primary-6: #5ba5b5;
    --primary-5: #40899a;
    --primary-4: #387182;
    --primary-3: #335d6b;
    --primary-2: #304e5a;
    --primary-1: #2c434d;
    --primary-0: #192b33;
    --grey-1: hsl(189,61%,35%);
    --grey-2: hsl(189,39%,35%);
    --grey-3: hsl(189,34%,35%);
    --grey-4: hsl(189,30%,40%);
    --grey-5: hsl(189,22%,50%);
    --grey-6: hsl(189,23%,60%);
    --grey-7: hsl(189,27%,70%);
    --grey-8: hsl(189,31%,80%);
    --grey-9: hsl(189,33%,90%);
    --grey-10: hsl(189,61%,98%);
    --primary-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --nav-height: 3rem;
    --nav-mobile-top: 6rem;
}
/* ===global setting========= */
html,
body {
  margin: 0;
  padding: 0;

}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  background: var(--primary-9);
  color: var(--primary-0);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
 }
img {
  width: 100%;
  display: block;
}
h1,h2,h3,h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin: 0.75rem 0.75rem; 
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}
h5 {
  font-size: 0.75rem;

}
p {
  margin-bottom: 1.25rem;
  color: var(--primary-2);
}
button {
  border: none;
  background-color: var(--primary-7);
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--primary-7);
}
button:hover {
    transform: scale(1.03);
    transition: var(--transition);
}
/* =====navbar top======== */
.topNav {
background-color: var(--primary-9);
padding: 1rem 2rem;
width: 100%;
position: fixed;
top: 0;
left: 0;
height: var(--nav-height);
box-shadow: var(--dark-shadow);
border: solid 1px var(--primary-0);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}
.menu-lists {
  display: flex;
  flex-direction: row;
  /* list-style-type: none; */
  cursor: pointer;
  gap: 2rem;
  align-items: center;
   li::selection {
      background-color: black;
      color: var(--primary-9);
   }
}

/* ======home-containet and navbarHome======== */
.home-container {
margin-top: var(--nav-height);

}
.box-home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ======content cards */
.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: stretch;
  gap: 1rem;
}
.card:hover {
    transform: scale(1.03);
    transition: var(--transition);
}
.box-image {
   position: relative;  
  
}
.p-productType {
    position: absolute;
    background: var(--grey-8);
    padding: 2px;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 1;

}
 .p-isInStock {
    position: absolute;
    background: var(--grey-8);
    padding: 2px;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 1;
}
/* ========viewDetails========= */
.box-keyFeatures{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   div {
    text-align:start;
   }
}
.viewDetailsFoot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ======cart ============== */
.container .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .orderSum  {
  
      border-radius: 0.2rem;
     box-shadow: 0.2rem 0.2rem var(--primary-7);
     .orderSumFlex { 
    /* */
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px var(--primary-3);
    .flexrowstart {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }
  } 

  }
 

}

.cardflex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--primary-2);
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--primary-7);
  gap: 0.2rem;

  .cart-item-theme  {
   margin-top: 0;
   padding-top: 0;
    h5{
     margin: 0;
    padding: 0;
    }
  
    
  
}

 .flex-row {
  display: flex;
  flex-direction: row;
} 
   .cartItemButtons { 
      align-items: center;
 }
.cartItemImage {
  width: 10%;
  height: auto;
}
.cartItemRightBox {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;

}

   .box-flex-column-cartItemSum {
  display: flex;
  flex-direction: column;
   gap: 0.15rem;
   h5 {
    margin: 0;
    padding: 0;
   }

}

/* ==========DashBoard========== */
.dashBoar {
margin-top: var(--nav-height);
display: flex;
flex-direction: column;
  .dashUserInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

  }
    .card {
      /* border: solid 1px var(--primary-3); */
      text-align: start;
      border-radius: 0.5rem;
      box-shadow: 0.1rem 0.1rem  var(--primary-7);
      
    }
    .textAligeLeft {
     text-align: start;
      border-radius: 0.5rem;
      box-shadow: 0.1rem 0.1rem  var(--primary-7);
      
    }
    .dashBoardOrderItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  .dashBoardFoot {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

      .dashBoardFootBox {
        /* border: solid 1px var(--primary-3); */
        border-radius: 0.2rem;
      box-shadow: 0.1rem 0.1rem  var(--primary-7);
     }
  }
  }

  /* =============log In and log Out========== */
  .logInForm, .logOut, .signUpForm {
margin-top: var(--nav-height);
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    a {
      border-radius: 0.2rem;
      box-shadow: 0.1rem 0.1rem  var(--primary-7);
      background-color: var(--primary-7);

    }
    a:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: var(--transition);
    }

  }
  
